\documentclass[{{ font_size }},{{ paper_size }},twocolumn]{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{lmodern,microtype,graphicx,hyperref,amsmath,listings,xcolor}
\usepackage{geometry}
\usepackage[normalem]{ulem}
\usepackage{booktabs}
\geometry{margin=0.75in}
\hypersetup{colorlinks=true, linkcolor=blue, urlcolor=cyan}
\lstset{basicstyle=\ttfamily\footnotesize, breaklines=true, frame=single}
\title{ {{- title -}} }
\date{\today}
\begin{document}
\maketitle
{% if include_toc %}\tableofcontents\newpage{% endif %}
{{ body }}
\end{document}
