\documentclass[{{ font_size }},{{ paper_size }},twocolumn]{article}

\usepackage[utf8]{inputenc}
\usepackage{geometry}
\usepackage{hyperref}
\usepackage{graphicx}
\usepackage{listings}
\usepackage[normalem]{ulem}

\geometry{margin=0.75in}

\title{ {{- title -}} }
\date{\today}

\begin{document}
\maketitle

{{ body }}

\end{document}
