\documentclass[{{ font_size }},{{ paper_size }}]{report}

\usepackage[utf8]{inputenc}
\usepackage{geometry}
\usepackage{hyperref}
\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage{listings}
\usepackage[normalem]{ulem}
\usepackage{titlesec}

\geometry{margin=1in}

\pagestyle{fancy}
\fancyhf{}
\rhead{\thepage}
\lhead{ {{- title -}} }

\title{ {{- title -}} }
\date{\today}

\begin{document}
\maketitle

{% if include_toc %}\tableofcontents\newpage{% endif %}

{{ body }}

\end{document}
